@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    font-family: "Monstserrat",  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #f2f2f2;
}
#TopcontactInfo {
    background-color:#000033;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

.top-contact{
    list-style: none;
}
.sosmed{
    list-style: none;
}

#TopcontactInfo li{
    display: inline-block;

}
#TopcontactInfo li span{
    color: #fff;	
    display: inline-block;
    padding: 0 9px;
    
}
.top-contact li span :hover{
    color: rgb(231, 9, 9);	
}


#TopcontactInfo li a{
    padding: 0 7px;
}


#TopcontactInfo li a span i
{
	color: darkblue;
    padding: 0 3px;
}
.sosmed li a i{
    color:#ffffff ;
}
.container img{
    width: 100px ;
    height: 100px;
}

/*CSS untuk HEADER */

header {
    padding: 31px 0;
}
.brand{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.brand img {
    margin-right: 10px;
}
.brand .brand-name h1 {
    font-size: 25px;
    color: #15477A;
    text-transform: uppercase ;
    margin: 10px;
}

.brand .brand-name h3{
    font-size: 18px;
    
    
    letter-spacing: 1px;
    color: #888888;
    margin: 10px;
}

.pembungkus-searchbox{
    margin-top: 12px;   
}

.nav {
  width: 100%;
  background-color: #000033;

  height: 80px;

}
.nav ul{
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0 ; 
  
  
}

.nav ul li{
  float: left;
  margin-top: 15px;
}
.nav ul li a{
  width: 150px;
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-family: Century Gothic;
  font-weight: bold;
}

.nav ul li a:hover {
  background: darkblue;

}
ul li ul{
  background: #000033;

}
.nav ul li ul li{
  float: none;
}
.nav ul li ul{
  display: none;
}
ul li:hover ul{
  display: block;
}

.nav ul li ul li a{
  font-size: 17px;
  text-align: left;
}

/*CSS Untuk Banner*/
.banner {
  background: url("UpiSerang.jpg")
    no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #f2f2f2;
}

/*CSS untuk Berita */
#berita{
  background-color: #ffffff;
}

.col h3{
  color: #3d3c3c;
}
.col h3:hover {
  color: rgba(0, 0, 139, 0.74);
  
}

/* CSS tentang SIK*/
.container2 widget-title{
  color: #ffffff;
}


